<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MenuMapper">
    <resultMap id="menuResultMap" type="com.org.section01.xmlconfig.MenuDTO">
        <id property="code" column="MENU_CODE"/>
        <result property="name" column="MENU_NAME"/>
        <result property="price" column="MENU_PRICE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="orderableStatus" column="ORDERABLE_STATUS"/>



    </resultMap>
    <select id="selectALLMenu" resultMap="menuResultMap">
        select
            menu_code
            ,menu_name
            ,menu_price
            ,category_code
            ,orderable_status
        from tbl_menu
        where orderable_status='y'
        order by menu_code
    </select>
    <!--
    insult,update, delete 경우 resultType작성 안하고 _int로 반환
    파라미터로 전달한 DTO 필드명으로 값을 바인딩
    getter를 이용하므로 없으면 에러남
    파라미터 타임 생략가능하다.
    -->
    <select id="selectMenuByCode" parameterType="_int" resultMap="menuResultMap">
        select
            menu_code
            , menu_name
            , menu_price
            , category_code
            , orderable_status
        from tbl_menu
        where orderable_status='y'
        and menu_code=#{ code }
    </select>
    <insert id="insertMenu" parameterType="com.org.section01.xmlconfig.MenuDTO">
        insert into tbl_menu
        (
        menu_name
        , menu_price
        , category_code
        , orderable_status
        )
        values
        (
        #{ name }
        , #{ price }
        , #{ categoryCode }
        , 'y'
        )
    </insert>
    <!--resultmap은 재사용이 가능-->

    <update id="updateMenu" parameterType="com.org.section01.xmlconfig.MenuDTO">
        update tbl_menu
            set menu_name= #{ name }
                ,menu_price =#{ price }
                ,category_code=#{ categoryCode }
            where menu_code=#{ code }
    </update>
    <delete id="deleteMenu" parameterType="_int">
        delete
            from tbl_menu
           where menu_code =#{ code }
    </delete>
</mapper>


